[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
optparse-pretty = "*"
pydngconverter = "*"
PyExifTool = "*"
pyyaml = "*"

[dev-packages]
coverage = "*"
parameterized = "*"
flake8 = "*"

[requires]
python_version = "3.8"
