[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
optparse-pretty = "*"
pydngconverter = "*"
parameterized = "*"
flake8 = "*"
PyExifTool = "*"

[dev-packages]

[requires]
python_version = "3.8"
