# Install dependencies
-r requirements.txt

# Install test dependencies
coverage
parameterized
tox
#black               # code formatting
flake8              # linting, formatting, analysis
#pytest              # pytest for unit testing
#pytest-runner       # pytest runner
#pytest-flake8       # pytest linting
#pytest-black        # pytest formatting
#pytest-cov          # pytest coverage
#pytest-xdist        # pytest distribution
