# Install dependencies
-r requirements.txt

# Install test dependencies
black               # code formatting
flake8              # linting, formatting, analysis
pytest              
pytest-runner
pytest-flake8
pytest-black
pytest-cov
pytest-xdist
